.create-decision-node {
  margin: 0 auto;
}

.create-decision-node input {
  border-radius: 0.2em;
  border: none;
  padding: 1em;
  margin: 0.5em 0;
  width: 100%;
}

.create-decision-node label {
  display: block;
}

.select__menu {
  color: #000 !important;
}
