.create-decision-node {
  margin: 2em auto;
}

.create-decision-node input {
  border-radius: 0.2em;
  border: none;
  padding: 1em;
  margin: 0.5em 0;
  width: 100%;
}

.create-decision-node label {
  display: block;
}

.select__menu {
  color: #000 !important;
}

.create-decision-node .link-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.create-decision-node .decisions h3 {
  margin-top: 1em;
}

.create-decision-node .decisions .link-node {
  margin: 2em 0;
  &:first-child {
    margin: 1em 0 2em 0;
  }
}
