.typewriter {
  font-family: $font-family-monospace;
  display: inline;
}

#cursor {
  border-left: 0.1em solid #fff;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter-input {
  margin: 10px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  position: relative;
  z-index: 10;
  &:focus {
    outline: none;
  }
}

.autocomplete {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 0;
  color: #ccc;
  background: transparent;
  border: none;
}

.user-input {
  position: relative;
}
