.header {
  position: relative;
  height: 3em;
  margin-top: 1em;
  border-bottom: 1px solid #7c7c7c;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  .logo {
    margin-left: 1em;
    color: #fff;
    flex-grow: 1;
    align-self: center;
  }

  .other-links {
    align-self: center;
    margin-right: 1em;
    font-size: 1.5em;
  }
}
