.the-decision-tree {
  position: absolute;
  padding: 0 1em;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.tree-creator-page h1 {
  margin-top: 1em;
}

.tree-creator-page .create-decisions {
  margin-bottom: 10%;
}

.the-decision-tree .no-tree-found {
  a {
    background-color: $primary;
    margin-top: 1.5em;
    font-size: 1.5em;
  }
}
