.typewriter {
  font-family: $font-family-monospace;
  display: inline;
}

.typewriter-input {
  margin: 10px 0px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  &:focus {
    outline: none;
  }
}

#cursor {
  border-left: 0.1em solid #fff;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
